@import "../../web/public/css/app.css";

#root{
  display:flex;
  flex:1;
  width:100%;
  min-height:100%;
  min-width:0;
  overflow:hidden;
}

#view-orders{
  display:flex;
  flex-direction:column;
  flex:1;
  min-height:0;
}
